body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    max-width: 500px;
    border: 1px solid black;
}
.title {
    color: blue;
    margin-bottom: 1rem;
}
.list{
    color: black;
}
.btn {
    display: flex;
}

.clear-list:hover, .add-item:hover{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.add-item {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;    
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    transition-duration: 0.4s;
    padding: 5px 10px;
    margin: 0 5px;
}
.clear-list {
    cursor: pointer;
    background-color:#f44336;
    border: none;
    color: white;    
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 5px;
}
.input-item {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 9px;
}
.error {
    color: red;
    font-size: 1.2em;    
}
.output {     
    font-size: 1.3em;;
}

ul li {
    display: flex;       
    max-width: 300px;
    max-height: 100px;
    justify-content: space-between;
    background: #bcd9e4;
    font-size: 20px;
    margin: 5px 0;
}
.check-box{
    height: 25px;
    width: 25px;   
    font-size: 25px;
    cursor: pointer;
}

#remove-btn{
    align-items: center;   
    margin-left: 1.5rem;
    background-color: #f46236;
    border: none;
    cursor: pointer;        
}
